# ============================
# Node.js
# ============================
node_modules/

# ============================
# Python
# ============================
venv/
ml-service/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# ML Models
# ============================
*.pkl
*.joblib

# ============================
# Environment Variables
# ============================
.env
.env.local

# ============================
# Build
# ============================
dist/
build/

# ============================
# Logs
# ============================
*.log

# ============================
# IDE
# ============================
.vscode/
.idea/

# ============================
# OS
# ============================
.DS_Store
Thumbs.db